<div class="main-container">
  <h1>
    <mat-icon routerLink="/person-list">arrow_back</mat-icon> Editar contacto
  </h1>
  <form (ngSubmit)="onSubmit()" class="form-container" #Ficha="ngForm" *ngIf="persona">
    <div class="form-container__column">
      <mat-form-field>
        <input
          matInput
          placeholder="Nombre"
          name="persona.nombre"
          value=""
          required
          [(ngModel)]="persona.nombre"
          minlength="3"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Apellidos"
          name="persona.apellidos"
          value=""
          required
          [(ngModel)]="persona.apellidos"
          minlength="3"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Edad"
          name="persona.edad"
          value=""
          required
          [(ngModel)]="persona.edad"
          min="0"
          max="0"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="DNI"
          name="persona.dni"
          required
          [(ngModel)]="persona.dni"
          minlength="9"
          maxlength="9"
        />
      </mat-form-field>
    </div>
    <div class="form-container__column">
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Cumpleaños"
          name="persona.cumpleanios"
          value=""
          required
          [(ngModel)]="persona.cumpleanios"
        />
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Color favorito"
          name="persona.colorFavorito"
          value=""
          required
          [(ngModel)]="persona.colorFavorito"
          minlength="3"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sexo</mat-label>
        <mat-select name="persona.sexo" required [(ngModel)]="persona.sexo">
          <mat-option value="no-especificado">No especificado</mat-option>
          <mat-option value="hombre">Hombre</mat-option>
          <mat-option value="mujer">Mujer</mat-option>
          <mat-option value="otro">Otro</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          placeholder="Notas"
          name="persona.notas"
          [(ngModel)]="persona.notas"
        ></textarea>
      </mat-form-field>
      <div class="form-button">
        <button
          mat-raised-button
          [disabled]="!Ficha.valid"
          type="submit"
          color="primary"
        >
          <mat-icon>send</mat-icon>
          Actualizar
        </button>
      </div>
    </div>
  </form>
</div>
