<div class="main-container">
  <h1>Agenda</h1>
  <form (ngSubmit)="onSubmit()" class="form-container" #Ficha="ngForm">
    <div class="form-container__column">
      <mat-form-field>
        <input
          matInput
          placeholder="Nombre"
          name="nombre"
          value=""
          required
          [(ngModel)]="nombre"
          minlength="3"
          pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Apellidos"
          name="apellidos"
          value=""
          required
          [(ngModel)]="apellidos"
          minlength="3"
          pattern="[[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Edad"
          name="edad"
          value=""
          required
          [(ngModel)]="edad"
          min="0"
          max="125"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="DNI"
          name="dni"
          required
          [(ngModel)]="dni"
          minlength="9"
          maxlength="9"
          pattern="[A-Za-z0-9]*"
        />
      </mat-form-field>
    </div>
    <div class="form-container__column">
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Cumpleaños"
          name="cumpleanios"
          value=""
          required
          [(ngModel)]="cumpleanios"
        />
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Color favorito"
          name="color"
          value=""
          required
          [(ngModel)]="colorFavorito"
          minlength="3"
          pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sexo</mat-label>
        <mat-select name="sexo" required [(ngModel)]="sexo">
          <mat-option value="no-especificado">No especificado</mat-option>
          <mat-option value="hombre">Hombre</mat-option>
          <mat-option value="mujer">Mujer</mat-option>
          <mat-option value="otro">Otro</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          placeholder="Notas"
          name="notas"
          [(ngModel)]="notas"
        ></textarea>
      </mat-form-field>
      <div class="form-button">
        <button
          mat-raised-button
          [disabled]="!Ficha.valid"
          type="submit"
          color="primary"
        >
          <mat-icon>add</mat-icon>
          Añadir contacto
        </button>
      </div>
    </div>
  </form>
</div>
